body {
    display: block;
    background-color: #325050;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif'
    
}
.page-wrapper {
	margine: 25px;
	padding: 10px		
}

.intro {
	display: flex;
	background-color: white;
	border:thick;
	margin: 25px;
	padding: 5px, 25px, 5px, 25px;
	flex-direction: column;
	width: 70%;
}
.main {
	display: flex;
	background-color: white;
	border:thick;
	margin: 25px;
	padding: 5px, 25px, 5px, 25px;
	flex-direction: column;
	width: 70%;
}

.sidebar {
	display: flex;
	background-color: grey;
	flex-direction: column;
	width: 30%;
	justify-content: flex-end;
}

.sidebar > div {
  margin: 10px;
  text-align: left;
  font-size: 17px;
}
  

