#zen-intro{
   position: relative;
   left: 0;
   width: 60%;
}


.sidebar{
   position:absolute;
   right: 0;
   width: 40%;
   top: 0;
}

#zen-supporting{
   position: relative;
   left: 0;
   width: 60%;
}

